<div class="content"><a
    href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=wodenvyoushisangshi-heianlizhi&amp;bookmark=201"
    class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark" title="新增書籤"
      class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built"
      i-amphtml-layout="fixed" style="width: 30px; height: 30px;"></amp-img></a>
  <div class="content"><a
      href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=wodenvyoushisangshi-heianlizhi&amp;bookmark=201"
      class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark" title="新增書籤"
        class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built"
        i-amphtml-layout="fixed" style="width: 30px; height: 30px;"></amp-img></a>
    <div class="content"><a
        href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=wodenvyoushisangshi-heianlizhi&amp;bookmark=201"
        class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark"
          title="新增書籤" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built"
          i-amphtml-layout="fixed" style="width: 30px; height: 30px;"></amp-img></a>
      <div class="content"><a
          href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=wodenvyoushisangshi-heianlizhi&amp;bookmark=201"
          class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark"
            title="新增書籤" class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built"
            i-amphtml-layout="fixed" style="width: 30px; height: 30px;"></amp-img></a>
        <div class="content"><a
            href="https://www.ttkan.co/novel/user/operation_v3.html?op=set_bookmark&amp;novel_id=wodenvyoushisangshi-heianlizhi&amp;bookmark=201"
            class="anchor_bookmark"><amp-img src="/novel/imgs/bookmark.svg" width="30" height="30" alt="bookmark"
              title="新增書籤"
              class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined i-amphtml-built"
              i-amphtml-layout="fixed" style="width: 30px; height: 30px;"></amp-img></a>
          </p>
          <p style="color: black;">
            受到影響，凌默感覺自己的jing神世界也在翻江倒海。
          </p>
          <p style="color: black;">
            他拉過了葉戀的手來，有些虛弱地說道：“葉戀，等我恢復過來，就能幫你提升了。”
          </p>
          <p style="color: black;">
            葉戀懵懵懂懂地看了凌默一眼，然後點了點頭。
          </p>
          <p style="color: black;">
            “放……放心吧，我不讓人進來……”
          </p>
          <center>
            <div class="mobadsq"></div>
          </center>
          <p style="color: black;">
            “好聰明，已經用不着我說了……”凌默很是高興地笑了笑，不過他的聲音越來越小，眼皮也越來越沉重了。
          </p>
          <p style="color: black;">
            也不知睡了多久，凌默才慢慢地清醒了過來。
          </p>
          <p style="color: black;">
            迷迷糊糊中，他感覺到一張冰涼的嘴脣貼在了自己的臉頰上，隨後緩緩地滑動了過來。
          </p>
          <p style="color: black;">
            舌尖輕輕地舔舐着凌默，讓他乾燥的嘴脣得到了一絲緩解。
          </p>
          <p style="color: black;">
            “水……”
          </p>
          <p style="color: black;">
            喉嚨裡像是快冒出火來似的，凌默幾乎是迫不及待地將這條小舌吸入了自己的嘴巴。
          </p>
          <p style="color: black;">
            甘液順着流入了凌默的嘴裡，冰冰涼涼地滑過了他的喉嚨，然後進入了他的體內。
          </p>
          <p style="color: black;">
            熱量從腹部升起，很快流轉至全身，凌默逐漸感覺到了自己脫力的四肢。
          </p>
          <p style="color: black;">
            “唔……”
          </p>
          <p style="color: black;">
            凌默一點點睜開了眼睛。李雅琳那張立體如混血兒的臉蛋就在他的眼前，那雙發紅的眼睛正盯着凌默。
          </p>
          <p style="color: black;">
            “趁我睡着了偷親我？”
          </p>
          <p style="color: black;">
            凌默忍不住伸手拍了下學姐的臀部，將她一把摟緊了懷裡。
          </p>
          <p style="color: black;">
            看李雅琳的眼睛，好像還沒有完全突破，不過凌默多看了她兩眼後，卻覺得她的jing神波動非常劇烈，而且眼神中似乎充滿了某種渴望一般。
          </p>
          <p style="color: black;">
            從感覺上來看，此時大概過去了一天一夜的樣子，葉戀和夏娜都不在屋內。
          </p>
          <p style="color: black;">
            隨着李雅琳像一條美女蛇似的纏在了凌默的身上，凌默也感覺到剛剛那股熱量又再次聚集在了小腹。
          </p>
          <center>
            <div class="mobadsq"></div>
          </center>
          <p style="color: black;">
            “咳咳，學姐，你想幹嘛……”
          </p>
          <p style="color: black;">
            “差一點……就差一點……”
          </p>
          <p style="color: black;">
            李雅琳的雙臂靈活地纏繞上了凌默的脖子，用臉頰在凌默的脖子處不斷地蹭着。
          </p>
          <p style="color: black;">
            差一點是什麼意思？距離提升就差一點？
          </p>
          <p style="color: black;">
            凌默緊盯着李雅琳的眼睛看了兩眼，總覺得她的瞳孔邊緣好像多了一圈琥珀sè似的。
          </p>
          <p style="color: black;">
            但這圈琥珀sè實在不夠清晰，加上凌默還有些暈乎……
          </p>
          <p style="color: black;">
            “差一點是很可惜，但是學姐你也要先放開我……”
          </p>
          <p style="color: black;">
            “撕啦！”
          </p>
          <p style="color: black;">
            凌默剛要支撐着身體坐起來，就被李雅琳一下子按了回去，同時他的褲子也被撕開了。
          </p>
          <p style="color: black;">
            “喂！”
          </p>
          <p style="color: black;">
            李雅琳可不管凌默的抗議，她再次吻住了凌默，同時貼着凌默的身體不斷地扭動着。
          </p>
          <p style="color: black;">
            她的身體非常涼，但凌默卻能感覺到她的體內正在血氣翻涌！
          </p>
          <p style="color: black;">
            難道是因爲蛇毒還在持續作用？說不定她沒辦法依靠自己徹底激發病毒母巢？
          </p>
          <p style="color: black;">
            也是，提升至首領級哪有那麼容易……
          </p>
          <p style="color: black;">
            凌默的腦子裡還在亂七八糟地想着，李雅琳就已經三兩下拽掉了自己的衣物。
          </p>
          <center>
            <div class="mobadsq"></div>
          </center>
          <p style="color: black;">
            沒想到剛一醒來就清白不保，偏偏葉戀和夏娜也不知跑到什麼地方去了。
          </p>
          <p style="color: black;">
            他倒是想通過jing神聯繫求救，但一來那兩個丫頭未必會救他，二來……他這會兒還在別人的基地裡，萬一又出現什麼令人尷尬的事情，尤其還是在這種情況下，他一定會立刻撞牆的。
          </p>
          <p style="color: black;">
            “學姐，看來你的學習能力還是很強的……”
          </p>
          <p style="color: black;">
            凌默目瞪口呆地看着李雅琳拿出了一卷保鮮膜……
          </p>
          <p style="color: black;">
            “不不，不用這個了……”凌默朝着揹包指了指，“神器在裡面。”
          </p>
          <p style="color: black;">
            之前在購物中心時，凌默曾悄悄地將一盒神器塞到了自己的揹包裡。
          </p>
          <p style="color: black;">
            其實在一般的超市內，這東西還真是不好找，要麼就是被踩扁，要麼就被壓在了衆多貨物之下，或者乾脆就在一堆爛肉中間。
          </p>
          <p style="color: black;">
            洗洗乾淨倒是能用，但說實話要承擔很大的心理壓力。凌默也還沒有飢渴到那個地步。
          </p>
          <p style="color: black;">
            在購物中心找到的這一盒，還是無意中踩到的……
          </p>
          <p style="color: black;">
            第一個拿出來，卻因爲李雅琳用力過猛，撕破了……
          </p>
          <p style="color: black;">
            “嘭！”扯破了……
          </p>
          <p style="color: black;">
            “啊！你彈到我了！”
          </p>
          <p style="color: black;">
            又一個報廢……
          </p>
          <p style="color: black;">
            偏偏李雅琳又壓着他不肯放開，導致凌默只能眼睜睜地看見這盒寶貴的神器就剩下了最後一個！
          </p>
          <p style="color: black;">
            “我的神器啊……”
          </p>
          <center>
            <div class="mobadsq"></div>
          </center>
          <p style="color: black;">
            好在最後一個總算成功搞定了，而李雅琳則迫不及待地一下子整個兒撲到了凌默身上。
          </p>
          <p style="color: black;">
            現在的李雅琳處於jing神極度興奮的狀態，她能控制住不直接吃了凌默已經是相當有自制力的表現了。
          </p>
          <p style="color: black;">
            不過越是着急，李雅琳就越是找不到填滿自己的方法。
          </p>
          <p style="color: black;">
            眼看她越來越着急，眼睛也越來越紅，凌默只好自己稍微動了一下。
          </p>
          <p style="color: black;">
            “既然是你強x我……那你就自己努力！”
          </p>
          <p style="color: black;">
            凌默長舒了一口氣，說道。
          </p>
          <p style="color: black;">
            但和凌默之前的猜測一樣，李雅琳的那層膜的確又癒合了，不過不知爲何，卻沒有流血……
          </p>
          <p style="color: black;">
            這有點超出凌默的想象，他趕緊仔細感受了一下，卻發現其實李雅琳並不是被自己二次破瓜了。
          </p>
          <p style="color: black;">
            而是，她竟然能自動將它擴張開，就像是蛇的嘴巴一樣……
          </p>
          <p style="color: black;">
            這個能力簡直太碉堡了！
          </p>
          <p style="color: black;">
            既然不流血，凌默便趕緊一把拽掉了神器，讓小夥伴解放了出來。
          </p>
          <p style="color: black;">
            “臥槽……果然跟蛇一樣……”
          </p>
          <p style="color: black;">
            李雅琳的身體柔軟度實在太高了，很難想象她具有如此強橫的實力，同時又能像練習柔術了一樣全身都能ziyou活動。
          </p>
          <p style="color: black;">
            雖然被強x總讓凌默有些內心不爽，不過身體的感覺實在……太tm爽了！！
          </p>
          <p style="color: black;">
            李雅琳的身體看上去相當敏感，每一次達到愉悅頂點時，她的jing神波動就會瞬間加劇，刺激着她的病毒母巢不斷產生更多的病毒，和蛇毒相融合。
          </p>
          <center>
            <div class="mobadsq"></div>
          </center>
          <p style="color: black;">
            凌默甚至能清楚地看見李雅琳眼中的那一抹琥珀sè，不斷地變得更加明顯。
          </p>
          <p style="color: black;">
            果然只差一點……學姐需要依靠外部刺激來讓自己徹底提升，而其中最好的，自然就是生理和jing神上的雙重刺激！
          </p>
          <p style="color: black;">
            那就是，啪啪啪！
          </p>
          <p style="color: black;">
            這纔是提升的最關鍵一步！
          </p>
          <div class="div_feedback"><a
              href="https://www.ttkan.co/novel/user/feedback?page_path=L25vdmVsL3BhZ2VhL3dvZGVudnlvdXNoaXNhbmdzaGktaGVpYW5saXpoaV8yMDEuaHRtbA=="
              target="_blank">章節報錯</a></div>
          <div class="social_share_frame"><label>分享給朋友：</label>
            <div class="social_share_inner_frame" data-v-a84641de=""><amp-social-share type="twitter" width="60"
                height="44" aria-label="分享到Twitter"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg"
                data-param-hashtags="小說,我的女友是喪屍" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-twitter i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="line" width="60" height="44" aria-label="分享到Line"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！" data-param-description="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-line i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="whatsapp" width="60" height="44" aria-label="分享到Whatsapp"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg"
                data-param-source_url="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-whatsapp i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="email" width="60" height="44" aria-label="分享到郵箱"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-email i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="pinterest" width="60" height="44" aria-label="分享到Pinterest"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-pinterest i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="tumblr" width="60" height="44" aria-label="分享到Tumblr"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg"
                data-param-data-tags="小說,我的女友是喪屍" data-param-data-title="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-data-content="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-data-caption="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg"
                data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-tumblr i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="linkedin" width="60" height="44" aria-label="分享到LinkedIn"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-linkedin i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
              <amp-social-share type="sms" width="60" height="44" aria-label="分享到SMS"
                data-param-href="https://www.ttkan.co/novel/chapters/wodenvyoushisangshi-heianlizhi"
                data-param-text="⚡ 《我的女友是喪屍》 這本書超精彩，分享給你！"
                data-param-media="https://static.ttkan.co/cover/wodenvyoushisangshi-heianlizhi.jpg" data-v-a84641de=""
                class="i-amphtml-element i-amphtml-layout-fixed i-amphtml-layout-size-defined amp-social-share-sms i-amphtml-built"
                i-amphtml-layout="fixed" style="width: 60px; height: 44px;" role="button"
                tabindex="0"></amp-social-share>
            </div>
          </div>
        </div>
