table,
table td,
table th {
  // border: 1px solid #ccc;
  border-collapse: collapse;
  // width: 157.7px;
  padding: 7px;
}
.q-field--with-bottom {
  padding-bottom: 0px;
}
.road2{
width: 100%;;
padding:2.5px;
}
.fs-20px
{font-size: 20px;}

.q-date__navigation {
  height: 80px;
  .q-btn__content {
    width: 200px;
    height: 100px;
    font-size: 40px;
  }
  .q-date__arrow {
    height: 70px;
    .q-btn {
      height: 70px;
      width: 70px;
      font-size: 40px;
    }
    .q-btn__content {
      height: 70px;
      width: 70px;
      font-size: 40px;
    }
  }
}
.q-date__calendar-days-container {
  height: 400px;
  width: 760px;
  font-size: 40px;
  .q-date__calendar-days {
    height: 40px;
    width: 40px;
    font-size: 20px;
    .q-date__calendar-item {
      height: 40px;
      width: 40px;
      font-size: 20px;
      .q-btn {
        height: 50px;
        width: 50px;
        font-size: 30px;
      }
    }
  }
}

.roadBtn{
height: 48px;
padding:2px;
width: 96px;
}

.run2btn{
  padding: 2px;
  width: 70px;
  margin : 3px 4px;
  font-size: 20px;
  // border: #000000 1px solid;
  height: 15px;

}

.nameInput{
  width: 200px;
}
.telInput{
  width: 180px;
}
.companyInput{

  width: 600px;
}
.departInput{
  width: 250px;
}
.stateSelect{
  width: 110px;
}
.roadSelect{

  width: 200px;
}
.road2Select{

  width: 655px;
}

.run2btnMember{
  width: 60px;height: 60px;
  padding: 0; font-size: 1.5rem;
  margin: 4px;
}

.input1143px{
  width: 1143px;
}

.btnEdit{
  width: 150px;
height: 60px;

}

.income{
  border: 1px solid $primary;
}

.custom-menu-position {

  max-height :30vh !important;
}
