<div style="width:100%;padding: 0;margin: 0;height: 30px;">
  <h5 style="line-height: 0;">配菜</h5>
</div>
<div class="row">
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.tomato" label="梅汁番茄"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.egg" label="鹽水煮蛋"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.vegetable" label="季節時蔬"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.fried_mushroom"
    label="酥炸菇菇" style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.braised_dried" label="滷豆干"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.oil_rice" label="油飯"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.fried_potato" label="炸地瓜"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.eggtart" label="手工蛋塔"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.shortbread" label="香蔥酥餅"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.chicken_wing" label="香滷雞翅"
    style="width: 130px;" />
  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.fruit" label="水果"
    style="width: 130px;" />

  <q-input outlined type="number" :input-style="{ fontSize: '20px' }" v-model="bangdong4Form.bake_potato" label="烤地瓜"
    style="width: 130px;" />
</div>
<div style="width:100%;padding: 0;margin: 0;height: 30px;">
  <h5 style="line-height: 0;">6吋潤餅</h5>
</div>
<div class="row">
